.latestProjects {
  padding-left: 150px;
  padding-top: 50px;
  padding-right: 150px;
}
.latestProjects h1 {
  font-size: 34px;
  padding: 20px;
}
.carousel {
  display: flex;
  width: 100%;
  height: auto;
  overflow-x: scroll;
}
.item {
  width: 100%;
  height: 300px;
  padding: 10px;
  flex-shrink: 0;
  position: relative;
}

.left {
  position: absolute;
  left: 15%;
  z-index: 1;
  top: 65%;
  width: 40px;
}
.right {
  z-index: 1;
  position: absolute;
  right: 15%;
  top: 65%;
  width: 40px;
}

.item img {
  border-radius: 10px;
}

@media only screen and (max-width: 660px) {
  .latestProjects {
    padding-left: 0px;
    padding-top: 40px;
    padding-right: 0px;
  }
  .left {
    top: 78%;
    left: 5%;
  }
  .right {
    top: 78%;
    right: 5%;
  }
}
